<a href="https://colab.research.google.com/github/greenteausa/DATA-690-WANG/blob/master/Assignment_03/session03__practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Requirment:**

  1.To come up with a list of people's first name.
  2. and find out how many people are in the class. 

**Hint**: 
-use split(), specify delimeter to eperate people.
-Use split

In [1]:
people_list = 'Wang, Chaojie; Seelam, Arjun Reddy; Rius, Jonathan; Liang, Jinqing; Chowdhury, Debanjan; Maszkiewicz, Lori; Negussie, Neftalem; Steinruck, Michaella; Phogat, Shreshta; Fatima, Misha; Hirabayashi, Scott; Soroush, Masoud; Bolz, Jessica; Mbu Nyamsi, Tchuissi; Dokuzoglu, Yuksel; Gogineni, Shailesh; Pabbisetty, Sai Vinay; Preis, Liam; Jyesta, Vishnu Priya; Narne, Yoshita; Boban, Shruthi; Oberoi, Ashreen Kaur; Cohens, Nashika; Noppinger, Ken; Kakani, Goutham; Hayo, Alyssa'
print(people_list)

Wang, Chaojie; Seelam, Arjun Reddy; Rius, Jonathan; Liang, Jinqing; Chowdhury, Debanjan; Maszkiewicz, Lori; Negussie, Neftalem; Steinruck, Michaella; Phogat, Shreshta; Fatima, Misha; Hirabayashi, Scott; Soroush, Masoud; Bolz, Jessica; Mbu Nyamsi, Tchuissi; Dokuzoglu, Yuksel; Gogineni, Shailesh; Pabbisetty, Sai Vinay; Preis, Liam; Jyesta, Vishnu Priya; Narne, Yoshita; Boban, Shruthi; Oberoi, Ashreen Kaur; Cohens, Nashika; Noppinger, Ken; Kakani, Goutham; Hayo, Alyssa

In [2]:
people_list.split(';')

['Wang, Chaojie',
 ' Seelam, Arjun Reddy',
 ' Rius, Jonathan',
 ' Liang, Jinqing',
 ' Chowdhury, Debanjan',
 ' Maszkiewicz, Lori',
 ' Negussie, Neftalem',
 ' Steinruck, Michaella',
 ' Phogat, Shreshta',
 ' Fatima, Misha',
 ' Hirabayashi, Scott',
 ' Soroush, Masoud',
 ' Bolz, Jessica',
 ' Mbu Nyamsi, Tchuissi',
 ' Dokuzoglu, Yuksel',
 ' Gogineni, Shailesh',
 ' Pabbisetty, Sai Vinay',
 ' Preis, Liam',
 ' Jyesta, Vishnu Priya',
 ' Narne, Yoshita',
 ' Boban, Shruthi',
 ' Oberoi, Ashreen Kaur',
 ' Cohens, Nashika',
 ' Noppinger, Ken',
 ' Kakani, Goutham',
 ' Hayo, Alyssa']

In [3]:
people_list.count(',')

26

In [4]:
newer_list_first_name = []
newer_list_last_name =[]
new_list = people_list.split(';')
for i in new_list:
  newer_list_first_name.append(i.split(',')[-1])
  newer_list_last_name.append(i.split(',')[0])
print(newer_list_first_name)
print(newer_list_last_name)

[' Chaojie', ' Arjun Reddy', ' Jonathan', ' Jinqing', ' Debanjan', ' Lori', ' Neftalem', ' Michaella', ' Shreshta', ' Misha', ' Scott', ' Masoud', ' Jessica', ' Tchuissi', ' Yuksel', ' Shailesh', ' Sai Vinay', ' Liam', ' Vishnu Priya', ' Yoshita', ' Shruthi', ' Ashreen Kaur', ' Nashika', ' Ken', ' Goutham', ' Alyssa']
['Wang', ' Seelam', ' Rius', ' Liang', ' Chowdhury', ' Maszkiewicz', ' Negussie', ' Steinruck', ' Phogat', ' Fatima', ' Hirabayashi', ' Soroush', ' Bolz', ' Mbu Nyamsi', ' Dokuzoglu', ' Gogineni', ' Pabbisetty', ' Preis', ' Jyesta', ' Narne', ' Boban', ' Oberoi', ' Cohens', ' Noppinger', ' Kakani', ' Hayo']

In [5]:
len(newer_list_first_name)

26

In [6]:
len(new_list)

26

In [7]:
for i in new_list: 
  print(i)

Wang, Chaojie
 Seelam, Arjun Reddy
 Rius, Jonathan
 Liang, Jinqing
 Chowdhury, Debanjan
 Maszkiewicz, Lori
 Negussie, Neftalem
 Steinruck, Michaella
 Phogat, Shreshta
 Fatima, Misha
 Hirabayashi, Scott
 Soroush, Masoud
 Bolz, Jessica
 Mbu Nyamsi, Tchuissi
 Dokuzoglu, Yuksel
 Gogineni, Shailesh
 Pabbisetty, Sai Vinay
 Preis, Liam
 Jyesta, Vishnu Priya
 Narne, Yoshita
 Boban, Shruthi
 Oberoi, Ashreen Kaur
 Cohens, Nashika
 Noppinger, Ken
 Kakani, Goutham
 Hayo, Alyssa

In [9]:
with open('sample_data/census_cost.txt', 'rt') as my_file:
  census_cost = my_file.readlines()
  print(census_cost)      
for line in census_cost:
  print(line)

['Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']
Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11