<a href="https://colab.research.google.com/github/greenteausa/DATA-690-WANG/blob/master/Assignment_04/Assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 04
1. Write code to open the text file [census_cost.txt](census_cost.txt) and read all lines into a list named **"line_list"**. Print line_list.
2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.
3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.
4. Extract the column **"Census Year"** from data_list and assign them to a list named **year_list**. Remove the "*" from the last element "2010*". Print the cleansed year_list.
5. Extract the **"Total Population"** column from the data_list and assign them to a list named **"pop_list"**. Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".
6. Extract the **"Census Cost"** column from the data_list and assign them to a list named **"cost_list"**. Remove the ",", and "$", and "Billion".
Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list. 

7. Extract the **"Average Cost per Person"** column from the data_list and assign them to a list named **"avg_list"**. Remove the "cents", and "$".
Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.
8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in 
comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.
9. Open the newly-created file "census_cost.csv", read all lines and display them. How does it look?

### Give yourself a pat on the back. Good job! 
### Now you know what data scientists do most of time: Data Cleansing.

## 1.Write code to open the text file "census_cost.txt" and read all lines into a list named "line_list". Print line_list.

In [ ]:
with open('census_cost.txt', 'rt') as f:  # open the local file.
    file = f.readlines()
line_list = [] #Created an empty file for the whole text.
for line in file:
    print(line)
    line_list.append(line) # append the line by line.
line_list # print the file.

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11']

## 2.Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [ ]:
top2_list = line_list[0:2]   # Extract the first two lines.
top2_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n']

In [ ]:
top2_list = top2_list[1].replace('\t', ',') # for the final file with the columns seperated with coma. 
top2_list

'Census Year,Total Population,Census Cost,Average Cost Per Person\n'

## 3.Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.

In [ ]:
data_list = line_list[2:]  # the rest is data_list.
data_list

['1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11']

## 4.Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "" from the last element "2010". Print the cleansed year_list.

In [ ]:
data_list[1][:4] # Test how to get the year.

'1800'

In [ ]:
year_list = []  # create an empty list to contain the following year to form a list.
for i in range(len(data_list)):
    year_list.append(data_list[i][0:4])
print(year_list)

['1790', '1800', '1810', '1820', '1830', '1840', '1850', '1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010']

In [ ]:
for item in data_list: # want to try another way to get the year. split each line with"\t" to get the year.
    item.split('\t')
    print(item)

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [ ]:
[data_list[-1].split('*')[0]] # following the upper cell to see the how to get the year without "*".

['2010']

## 5.Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [ ]:
pop_list = []  #create an emptly list to contain the population information from each line.
for i in range(len(data_list)):
    pop_list.append(data_list[i].split('\t')[1])
print(pop_list)

['3,929,214', '5,308,483', '7,239,881', '9,633,822', '12,866,020', '17,069,458', '23,191,876', '31,443,321', '38,558,371', '50,155,783', '62,979,766', '76,303,387', '91,972,266', '105,710,620', '122,775,046', '131,669,275', '151,325,798', '179,323,175', '203,302,031', '226,542,199', '248,718,301', '281,421,906', '308,745,538']

In [ ]:
pop_list

['3,929,214',
 '5,308,483',
 '7,239,881',
 '9,633,822',
 '12,866,020',
 '17,069,458',
 '23,191,876',
 '31,443,321',
 '38,558,371',
 '50,155,783',
 '62,979,766',
 '76,303,387',
 '91,972,266',
 '105,710,620',
 '122,775,046',
 '131,669,275',
 '151,325,798',
 '179,323,175',
 '203,302,031',
 '226,542,199',
 '248,718,301',
 '281,421,906',
 '308,745,538']

In [ ]:
new_pop_list = [] # do some data cleaning to easlily manage the data. 
for item in pop_list:
    item = str(int(item.replace(',',"")))  # drop the ',' , change the type to 'int', then 'str' for final join.
    print(item)
    new_pop_list.append(item)
pop_list = new_pop_list

3929214
5308483
7239881
9633822
12866020
17069458
23191876
31443321
38558371
50155783
62979766
76303387
91972266
105710620
122775046
131669275
151325798
179323175
203302031
226542199
248718301
281421906
308745538

## 6.Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

In [ ]:
cost_list = []  # create an empty list for the cost_list.
for i in range(len(data_list)):
    cost_list.append(data_list[i].split('\t')[2]) # split with '\t' and get the cost_list elements and append them to the empty list.
print(cost_list)

['$44,377', '$66,109', '$178,445', '$208,526', '$378,545', '$833,371', '$1,423,351', '$1,969,377', '$3,421,198', '$5,790,678', '$11,547,127', '$11,854,000', '$15,968,000', '$25,117,000', '$40,156,000', '$67,527,000', '$91,462,000', '$127,934,000', '$247,653,000', '$1,078,488,000', '$2,492,830,000', '$4.5 Billion', '$13 Billion']

In [ ]:
new_cost_list = [] 

for item in cost_list:
    item = item.strip('$')  # drop the '$'.
    item = item.replace(',','')# drop the ','.
    if 'Billion' in item: # change the 'Billion' to 1000000000 and change it to float then can multiple with 10**9,  and int then str to join easily. 
        item = item.strip('Billion')
        item = str(int(float(item) *1000000000))
        
    #print(item)
    new_cost_list.append(item)
    cost_list = new_cost_list
cost_list

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4500000000',
 '13000000000']

## 7.Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.

In [ ]:
avg_list = [] # create an empty list for the Average_Cost list.
for i in range(len(data_list)):
    avg_list.append(data_list[i].split('\t')[3]) # get the list elments from lines. 
print(avg_list)

['1.13 cents\n', '1.24 cents\n', '2.46 cents\n', '2.16 cents\n', '2.94 cents\n', '4.88 cents\n', '6.14 cents\n', '6.26 cents\n', '8.87 cents\n', '11.54 cents\n', '18.33 cents\n', '15.54 cents\n', '17.07 cents\n', '23.76 cents\n', '32.71 cents\n', '51.29 cents\n', '60.44 cents\n', '71.34 cents\n', '$1.22\n', '$4.76\n', '$10.02\n', '$15.99\n', '$42.11']

In [ ]:
new_avg_list = []
for item in avg_list:
    item = item.strip('cents\n')
    #print(item)
    #for item in avg_list:
    if '$' in item:
        item = item.strip('$') # drop '$'.
        #print(item)
        item = str(float(item) *100) # float to multiple and then string then to join easily.
    print(item)
    new_avg_list.append(item)

1.13
1.24
2.46
2.16
2.94
4.88
6.14
6.26
8.87
11.54
18.33
15.54
17.07
23.76
32.71
51.29
60.44
71.34
122.0
476.0
1002.0
1599.0
4211.0

In [ ]:
avg_list = new_avg_list
avg_list

['1.13 ',
 '1.24 ',
 '2.46 ',
 '2.16 ',
 '2.94 ',
 '4.88 ',
 '6.14 ',
 '6.26 ',
 '8.87 ',
 '11.54 ',
 '18.33 ',
 '15.54 ',
 '17.07 ',
 '23.76 ',
 '32.71 ',
 '51.29 ',
 '60.44 ',
 '71.34 ',
 '122.0',
 '476.0',
 '1002.0',
 '1599.0',
 '4211.0']

## 8.Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [ ]:
df = list(zip(year_list,pop_list,cost_list,avg_list)) # zip all the list and put them to a nelted list again.
df

[('1790', '3929214', '44377', '1.13 '),
 ('1800', '5308483', '66109', '1.24 '),
 ('1810', '7239881', '178445', '2.46 '),
 ('1820', '9633822', '208526', '2.16 '),
 ('1830', '12866020', '378545', '2.94 '),
 ('1840', '17069458', '833371', '4.88 '),
 ('1850', '23191876', '1423351', '6.14 '),
 ('1860', '31443321', '1969377', '6.26 '),
 ('1870', '38558371', '3421198', '8.87 '),
 ('1880', '50155783', '5790678', '11.54 '),
 ('1890', '62979766', '11547127', '18.33 '),
 ('1900', '76303387', '11854000', '15.54 '),
 ('1910', '91972266', '15968000', '17.07 '),
 ('1920', '105710620', '25117000', '23.76 '),
 ('1930', '122775046', '40156000', '32.71 '),
 ('1940', '131669275', '67527000', '51.29 '),
 ('1950', '151325798', '91462000', '60.44 '),
 ('1960', '179323175', '127934000', '71.34 '),
 ('1970', '203302031', '247653000', '122.0'),
 ('1980', '226542199', '1078488000', '476.0'),
 ('1990', '248718301', '2492830000', '1002.0'),
 ('2000', '281421906', '4500000000', '1599.0'),
 ('2010', '308745538', '13000000000', '4211.0')]

In [ ]:
for i in df:
    print(i)

('1790', '3929214', '44377', '1.13 ')
('1800', '5308483', '66109', '1.24 ')
('1810', '7239881', '178445', '2.46 ')
('1820', '9633822', '208526', '2.16 ')
('1830', '12866020', '378545', '2.94 ')
('1840', '17069458', '833371', '4.88 ')
('1850', '23191876', '1423351', '6.14 ')
('1860', '31443321', '1969377', '6.26 ')
('1870', '38558371', '3421198', '8.87 ')
('1880', '50155783', '5790678', '11.54 ')
('1890', '62979766', '11547127', '18.33 ')
('1900', '76303387', '11854000', '15.54 ')
('1910', '91972266', '15968000', '17.07 ')
('1920', '105710620', '25117000', '23.76 ')
('1930', '122775046', '40156000', '32.71 ')
('1940', '131669275', '67527000', '51.29 ')
('1950', '151325798', '91462000', '60.44 ')
('1960', '179323175', '127934000', '71.34 ')
('1970', '203302031', '247653000', '122.0')
('1980', '226542199', '1078488000', '476.0')
('1990', '248718301', '2492830000', '1002.0')
('2000', '281421906', '4500000000', '1599.0')
('2010', '308745538', '13000000000', '4211.0')

In [ ]:
census_cost = open('census_cost.csv','w') # create a new csv file to write in. 'w' mean wrte in.
for m in top2_list: #  write in the first two lines.
    
    census_cost.write(m)

In [ ]:
census_cost = open('census_cost.csv','a') # add the other list in the file with 'a'  which means 'append'
for i in df:
    census_cost.write(','.join(i)+'\n') # with'\n' for seperating lines.
census_cost.close()